<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<body>
	<h:form>
	<h:outputLabel value="Titulo: " />
	<h:inputText value="#{tituloBean.titulo}" />
	<br />
	<h:outputLabel value="Votos" />
	<br />
		<h:dataTable value="#{tituloBean.listarVotos()}" var = "candidato" id="tabla">
			<h:column>
				<f:facet name="header">Código</f:facet>
				#{candidato.candidato}
			</h:column>
			<h:column>
				<f:facet name="header">Nombre</f:facet>
				#{candidato.votos}
			</h:column>
		</h:dataTable>
		<h:commandButton action="#{tituloBean.listarVotos()}" value="ListarVotos"/>
	</h:form>
</body>

</html>