<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>Lista de títulos</h:head>

<h:form>
	<h:dataTable value="#{votosBean.listarVotos()}" var = "voto" id="tabla">
			<h:column>
				<f:facet name="header">Código</f:facet>
				#{voto.vot_id}
			</h:column>
			<h:column>
				<f:facet name="header">Cédula</f:facet>
				#{voto.cedula}
			</h:column>
			<h:column>
				<f:facet name="header">Nombre</f:facet>
				#{voto.nombre}
			</h:column>
			<h:column>
				<f:facet name="header">Candidato</f:facet>
				#{voto.vot_candidato}
			</h:column>
		</h:dataTable>
		<h:commandButton action="#{votosBean.listarVotos()}" value="ListarVotos"/>
	<br/>
	<h:outputLabel value="#{votosBean.contador}" />
	<h:commandButton action="#{votosBean.contar()}" value="Contar"/>
</h:form>

</html>