<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<body>
	<h:form>
		<div align="center">
			<label style="color: black;">Título a elección</label>
			<h:inputText value="#{tituloBean.titulo}" style="width: 20%;">
			</h:inputText>
		</div>
		<div style="margin-bottom: 2%" />
		<div align="center">
			<label style="color: black;">Fecha de vigencia</label>
			<h:inputText value="#{tituloBean.vigencia}"
				style="width: 20%; margin-bottom: 2%;">
			</h:inputText>
		</div>
		<div align="center">
			<h:commandButton actionListener="#{tituloBean.RegistrarEleccion}"
				value="Registrar elección" class="btn btn-success text-center">
			</h:commandButton>
		</div>
		<br/>
		
		
		<div align="center">
			<label style="color: black;">Nombre del candidato</label>
			<h:inputText value="#{tituloBean.nombre}" style="width: 20%;">
			</h:inputText>
		</div>
		<div style="margin-bottom: 2%" />
		<div align="center">
			<label style="color: black;">Cédula</label>
			<h:inputText value="#{tituloBean.cedula}"
				style="width: 20%; margin-bottom: 2%;">
			</h:inputText>
		</div>
		<div align="center">
			<label style="color: black;">Lista</label>
			<h:inputText value="#{tituloBean.lista}"
				style="width: 20%; margin-bottom: 2%;">
			</h:inputText>
		</div>
		<div align="center">
			<label style="color: black;">Teléfono</label>
			<h:inputText value="#{tituloBean.telefono}"
				style="width: 20%; margin-bottom: 2%;">
			</h:inputText>
		</div>
		<div align="center">
			<h:commandButton actionListener="#{tituloBean.agregarCandidato}"
				value="Agregar Candidato" class="btn btn-success text-center">
			</h:commandButton>
		</div>
		<div class="table-responsive">
			<h:dataTable value="#{tituloBean.candidatos}" var="candidato"
				id="tablaCapitulos" class="table">
				<h:column>
					<f:facet name="header">Candidato</f:facet>
									#{candidato.can_nombre}
								</h:column>
				<h:column>
					<f:facet name="header">Lista</f:facet>
									#{candidato.can_lista}
								</h:column>
			</h:dataTable>
		</div>
	</h:form>
	<h:form>
	</h:form>
</body>
</html>
